body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    text-align: center;
    width: 300px;
    position: relative;
}

.counter {
    font-size: 2.5em;
}

.loading-bar-back {
    position: absolute;
    height: 8px;
    background-color: lightgray;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.loading-bar-front {
    position: absolute;
    height: 8px;
    background-color: orangered;
    width: 0%;
    border-radius: 5px;
    border: none;
}