body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    color: white;
    font-family: cursive;
}

.container {
    display: flex;
    text-align: center;
}

.mouse-event {
    position: relative;
    border: solid 1px lightgray;
    margin: 40px;
    min-width: 180px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.mouse-event h4 {
    position: absolute;
    top: -50px;
    font-size: 0.875rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-weight: 100;
    color: lightgray;
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }
}